<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <!-- <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Main</a></li>
            <li><a routerLink="/user"><i class="fas fa-user"></i>Users</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Roles</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Permissions</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>ToDoList</a></li>
        </ul> 
    </div> -->
    <div class="main_content">
        <!-- <div class="header">
            <div class="profile-icon">
                <i class="fas fa-user-circle"></i>
                <div class="logout-option">
                    <a href="#">Logout</a>
                </div>
            </div>
        </div> -->
        <div class="info">
            <div class="card text-dark bg-info mb-3">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <h5 class="card-title">No. of Users: {{userscount}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card text-dark bg-info mb-3">
                <div class="card-header">Roles</div>
                <div class="card-body">
                    <h5 class="card-title">No. of Roles: {{rolescount}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card text-dark bg-info mb-3">
                <div class="card-header">Permissions</div>
                <div class="card-body">
                    <h5 class="card-title">No. of Permissions: {{permissionscount}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            
        </div>
    </div>

</div>