<div class="content">
    <div class="input-container">
      <input [(ngModel)]="isedit ? editingRole.name : role.name" type="text" id="newItem" placeholder="Enter a new Role" (input)="onRoleInputChange($event)">
      <button *ngIf="!isedit" (click)="add()" id="addButton">Add</button>
      <button *ngIf="isedit" (click)="editUser(editingRole.id)" id="editButton">Edit</button>
      <button  *ngIf="isedit" (click)="cancelEdit()" id="cancelButton">Cancel</button>
    </div>
  
    <table id="itemTable">
      <thead>
        <tr>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="itemList">
        <tr *ngFor="let tasks of roles,let i=index">
            <td>
                {{tasks.name}}
            </td>
            <td scope="col-2">
              <i class="bi bi-trash" (click)="deleteUser(tasks.id)"></i>
              <i class="bi bi-pen" (click)="oneditclick(tasks.id)"></i>
              <i (click)="ModalDialog(tasks.id)" class="bi bi-dot"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
