<section>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
  <h2>{{ isNewUser ? 'Add' : 'Edit' }} User</h2>
  <form >
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control"  name="username" placeholder="Enter username" [(ngModel)]="users.username" >
    </div>
    <div *ngIf="isNewUser" class="form-group">
      <label >Password:</label>
      <input type="text" class="form-control"  name="password" placeholder="Enter password" [(ngModel)]="users.password"  >
    </div>
    <div *ngIf="showAlert" class="alert alert-success" role="alert">
      Successful!
    </div>
    <div *ngIf="dangerAlert" class="alert alert-danger" role="alert">
      Already Exists
    </div>
    <!-- <div class="form-group">
      <label for="role">Role:</label>
      <select class="form-control" id="role" name="role" [(ngModel)]="currentUser.role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div> -->
    <button *ngIf="isNewUser" (click)="addUser()" class="btn btn-primary">Add User</button>
<button *ngIf="!isNewUser" (click)="UpdateUser()" class="btn btn-primary">Update User</button>
  </form>
  </div>
  </div>
</div>
</section>